
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<p>You can contact us via telephone and email</p>
<p>*Please note* Emails may take up to 3 business days for a response</p>


<p>Telephone: +71 31 123 4567</p>
<p>Email: JamesKhumalo@khumalocraft.com"</p>