
@{
    ViewData["Title"] = "My Work";
}

<h1>My Work</h1>

<img src="~/images/TestProduct1.jpeg"
height=" 425px"/>
<p>HandCrafted Mug - R89.99 HandCrafted</p>

<img src="~/images/TestProduct2.jpeg"
height=" 425px"/>
<p>HandCrafted 6-String Guitar - R4499.99</p>

<img src="~/images/TestProduct3.jpeg"
height=" 425px"/>
<p>HandCrafted Guitar Picks - R14.99</p>


